body,
html {
    background: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
    color: #333;
}

/*============================================= UPLOAD FILES LOADER START */
.ctn_afus_bg {
    background: #3243db;
    width: 300px;
    height: 100px;
    border-radius: 15px;
}

.ctn_afus_align {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.ctn_afus_popup_text {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.loader-79 {
    margin-top: 30px;
    width: 50%;
    height: 16px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.25) 25%, transparent 25%, transparent 50%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.25) 75%, transparent 75%, transparent);
    font-size: 14px;
    background-size: 1em 1em;
    animation: barStripe 1s linear infinite;
}


@keyframes barStripe {
        0% {
        background-position: 1em 0;
    }

    100% {
        background-position: 0 0;
    }
}
@keyframes rotationBack {    0% {
        background-position: 1em 0;
    }

    100% {
        background-position: 0 0;
    } }

@media only screen and (max-width:768px) {
    .ctn_afus_bg {
        width: 250px;
    }
}
/*==================== UPLOAD FILES LOADER END */

/*======================================= CONVERTION LOADER START */
.ctn_ht_align {
    height: 0px;
}

.ctn_popup {
    width: 70%;
    height: auto;
    margin: 0px auto;
    padding: 3px 0 3px 0;
    margin-top: 0px;
   transition: all 0.3s ease;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ctn_bg {
    background: #3243db;
    border-radius: 10px;
   transition: all 0.3s ease;
    height: 130px;
}

.ctn_popup_text {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    position: relative;
    top: 60px;
}

.loader-83 {
    width: 175px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.loader-83::before {
    content: "";
    left: 60px;
    bottom: 18px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 8px at 18px 18px, #3243db 100%, transparent 0),
                      radial-gradient(circle 4px at 18px 0px, #3243db 100%, transparent 0),
                      radial-gradient(circle 4px at 0px 18px, #3243db 100%, transparent 0),
                      radial-gradient(circle 4px at 36px 18px, #3243db 100%, transparent 0),
                      radial-gradient(circle 4px at 18px 36px, #3243db 100%, transparent 0),
                      radial-gradient(circle 4px at 30px 5px, #3243db 100%, transparent 0),
                      radial-gradient(circle 4px at 30px 30px, #3243db 100%, transparent 0),
                      radial-gradient(circle 4px at 5px 30px, #3243db 100%, transparent 0),
                      radial-gradient(circle 4px at 5px 5px, #3243db 100%, transparent 0);
    background-repeat: no-repeat;
    animation: rotationBack 3s linear infinite;
}

.loader-83::after {
    content: "";
    left: 94px;
    bottom: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: radial-gradient(circle 5px at 12px 12px, #3243db 100%, transparent 0),
                      radial-gradient(circle 2.5px at 12px 0px, #3243db 100%, transparent 0),
                      radial-gradient(circle 2.5px at 0px 12px, #3243db 100%, transparent 0),
                      radial-gradient(circle 2.5px at 24px 12px, #3243db 100%, transparent 0),
                      radial-gradient(circle 2.5px at 12px 24px, #3243db 100%, transparent 0),
                      radial-gradient(circle 2.5px at 20px 3px, #3243db 100%, transparent 0),
                      radial-gradient(circle 2.5px at 20px 20px, #3243db 100%, transparent 0),
                      radial-gradient(circle 2.5px at 3px 20px, #3243db 100%, transparent 0),
                      radial-gradient(circle 2.5px at 3px 3px, #3243db 100%, transparent 0);
    background-repeat: no-repeat;
    animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

@media only screen and (max-width:768px) {
    .ctn_popup {
        top: 34%;
    }
}
/*============================================ CONVERTION LOADER END */

.logo-aiofoct {
    width: 160px;
}

@media only screen and (max-width:1200px) {
    .logo-aiofoct {
        width: 100px;
    }
}

.nav_sub_menus {
    font-size: 13px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: all 0.9s;
}

a.img,
.separator a {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.separator {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto 25px auto;
}

.header_area {
    background: #fff;
    position: fixed;
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navigation {
    width: 100%;
    height: 70px;
    display: table;
    position: relative;
}

.navigation-portrait {
    height: 48px;
}

.navigation-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19998;
}

.navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.align-to-right {
    float: right;
}

.nav-header {
    float: left;
}

.navigation-hidden .nav-header {
    display: none;
}

.nav-brand {
    line-height: 70px;
    padding: 0;
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

.nav-brand:hover,
.nav-brand:focus {
    color: #fff;
}

.navigation-portrait .nav-brand {
    font-size: 18px;
    line-height: 48px;
}

.nav-logo>img {
    height: 48px;
    margin: 11px auto;
    padding: 0 15px;
    float: left;
}

.nav-logo:focus>img {
    outline: initial;
}

.navigation-portrait .nav-logo>img {
    height: 36px;
    margin: 6px auto 6px 15px;
    padding: 0;
}

.nav-toggle {
    width: 30px;
    height: 30px;
    padding: 6px 2px 0;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 0;
    display: none;
    cursor: pointer;
}

.nav-toggle:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0.5em 0 0 #000, 0 1em 0 0 #000;
}

.navigation-portrait .nav-toggle {
    display: block;
}

.navigation-portrait .nav-menus-wrapper {
    width: 320px;
    height: 100%;
    top: 0;
    left: -400px;
    position: fixed;
    background-color: #fff;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    left: auto;
    right: -400px;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
    left: 0;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    left: auto;
    right: 0;
}

.nav-menus-wrapper-close-button {
    width: 30px;
    height: 30px;
    margin: 10px 7px;
    display: none;
    float: right;
    color: #343a40;
    font-size: 20px;
    cursor: pointer;
}

.navigation-portrait .nav-menus-wrapper-close-button {
    display: block;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 0;
}

.navigation-portrait .nav-menu {
    width: 100%;
}

.navigation-landscape .nav-menu.nav-menu-centered {
    float: none;
    text-align: center;
}

.navigation-landscape .nav-menu.nav-menu-centered>li {
    float: none;
}

.nav-menu>li {
    display: inline-block;
    float: left;
    text-align: left;
}

.navigation-portrait .nav-menu>li {
    width: 100%;
    position: relative;
    border-top: solid 1px #f0f0f0;
}

.navigation-portrait .nav-menu>li:last-child {
    border-bottom: solid 1px #f0f0f0;
}

.nav-menu+.nav-menu>li:first-child {
    border-top: none;
}

.nav-menu>li>a {
    height: 70px;
    padding: 26px 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    transition: color 0.3s, background 0.3s;
}

.navigation-portrait .nav-menu>li>a {
    width: 100%;
    height: auto;
    padding: 12px 15px 12px 26px;
}

.nav-menu>li:hover>a,
.nav-menu>li.active>a,
.nav-menu>li.focus>a {
    background: #3243db;
    color: #fff;
}

.nav-menu>li>a>i,
.nav-menu>li>a>[class*="ion-"] {
    width: 18px;
    height: 16px;
    line-height: 16px;
    transform: scale(1.4);
}

.nav-menu>li>a>[class*="ion-"] {
    width: 16px;
    display: inline-block;
    transform: scale(1.8);
}

.navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center;
}

.nav-menu.nav-menu-social>li {
    text-align: center;
    float: none;
    border: none !important;
}

.navigation-portrait .nav-menu.nav-menu-social>li {
    width: auto;
}

.nav-menu.nav-menu-social>li>a>[class*="ion-"] {
    font-size: 12px;
}

.nav-menu.nav-menu-social>li>a>.fa {
    font-size: 14px;
}

.navigation-portrait .nav-menu.nav-menu-social>li>a {
    padding: 15px;
}

.submenu-indicator {
    margin-left: 8px;
    margin-top: 4px;
    float: right;
    transition: all 0.2s;
}

.navigation-portrait .submenu-indicator {
    width: 54px;
    height: 44px;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 20000;
}

.submenu-indicator-chevron {
    height: 6px;
    width: 6px;
    display: block;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent #fff #fff transparent;
    transform: rotate(45deg);
    transition: border 0.2s;
}

.navigation-portrait .submenu-indicator-chevron {
    border-color: transparent #999 #999 transparent;
    position: absolute;
    top: 18px;
    left: 24px;
}

.navigation-portrait:hover .submenu-indicator-chevron {
    border-color: transparent #999 #999 transparent;
}

.navigation-portrait .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg);
}

.nav-dropdown>li .submenu-indicator-chevron {
    border-color: transparent #999 #999 transparent;
}

.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 19999;
}

.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav-search {
    height: 70px;
    float: right;
    z-index: 19998;
}

.navigation-portrait .nav-search {
    height: 48px;
    padding: 0 10px;
    margin-right: 32px;
}

.navigation-hidden .nav-search {
    display: none;
}

.nav-search-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #3243db;
}

.navigation-portrait .nav-search-button {
    width: 50px;
    height: 48px;
    line-height: 46px;
    font-size: 22px;
}

.nav-search-icon {
    width: 14px;
    height: 14px;
    margin: 2px 8px 8px 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #fff;
    text-align: left;
    text-indent: -9999px;
    border: 2px solid;
    border-radius: 50%;
    transform: rotate(-45deg);
}

.nav-search-icon:after,
.nav-search-icon:before {
    content: "";
    pointer-events: none;
}

.nav-search-icon:before {
    width: 2px;
    height: 11px;
    top: 11px;
    position: absolute;
    left: 50%;
    border-radius: 0 0 1px 1px;
    box-shadow: inset 0 0 0 32px;
    transform: translateX(-50%);
}

.nav-search-button:hover .nav-search-icon {
    color: #fff;
}

.nav-search>form {
    width: 100%;
    height: 100%;
    padding: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3243db;
    z-index: 99;
}

.nav-search-inner {
    width: 70%;
    height: 70px;
    margin: auto;
    display: table;
}

.navigation-portrait .nav-search-inner {
    height: 48px;
}

.nav-search-inner input[type="text"],
.nav-search-inner input[type="search"] {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    font-size: 22px;
    text-align: center;
    color: #fff;
    outline: none;
    line-height: 70px;
    border: none;
    background-color: transparent;
    transition: all 0.3s;
}

.navigation-portrait .nav-search-inner input[type="text"],
.navigation-portrait .nav-search-inner input[type="search"] {
    height: 48px;
    font-size: 18px;
    line-height: 48px;
}

.nav-search input[type="search"]::placeholder {
    color: #fff;
    opacity: 1;
}

.nav-search input[type="search"]:-ms-input-placeholder {
    color: #fff;
}

.nav-search input[type="search"]::-ms-input-placeholder {
    color: #fff;
}

.nav-search-close-button {
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: normal;
    outline: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.navigation-portrait .nav-search-close-button {
    top: 10px;
    right: 14px;
}

.nav-button {
    margin: 18px 15px 0;
    padding: 8px 14px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.nav-button:hover,
.nav-button:focus {
    color: #fff;
    text-decoration: none;
}

.navigation-portrait .nav-button {
    width: calc(100% - 52px);
    margin: 17px 26px;
}

.nav-text {
    margin: 25px 15px;
    display: inline-block;
    color: #343a40;
    font-size: 14px;
}

.navigation-portrait .nav-text {
    width: calc(100% - 52px);
    margin: 12px 26px 0;
}

.navigation-portrait .nav-text+ul {
    margin-top: 15px;
}

.nav-dropdown {
    min-width: 180px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 98;
    white-space: nowrap;
}

.navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0;
}

.nav-dropdown .nav-dropdown {
    left: 100%;
}

.nav-menu>li>.nav-dropdown {
    border-top: solid 1px #f0f0f0;
}

.nav-dropdown>li {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    text-align: left;
}

.nav-dropdown>li>a {
    width: 100%;
    padding: 16px 20px;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 13px;
    color: #343a40;
    background-color: #fdfdfd;
}

.nav-dropdown>li:hover>a,
.nav-dropdown>li.focus>a {
    color: #27ae60;
}

.nav-dropdown.nav-dropdown-left {
    right: 0;
}

.nav-dropdown>li>.nav-dropdown-left {
    left: auto;
    right: 100%;
}

.navigation-landscape .nav-dropdown.nav-dropdown-left>li>a {
    text-align: right;
}

.navigation-portrait .nav-dropdown>li>a {
    padding: 12px 20px 12px 30px;
}

.navigation-portrait .nav-dropdown>li>ul>li>a {
    padding-left: 50px;
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>a {
    padding-left: 70px;
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a {
    padding-left: 90px;
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 110px;
}

.nav-dropdown .submenu-indicator {
    right: 15px;
    top: 10px;
    position: absolute;
}

.navigation-portrait .nav-dropdown .submenu-indicator {
    right: 0;
    top: 0;
}

.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(-45deg);
}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(45deg);
}

.nav-dropdown>li:hover>a .submenu-indicator-chevron,
.nav-dropdown>.focus>a .submenu-indicator-chevron {
    border-color: transparent #27ae60 #27ae60 transparent;
}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {
    left: 10px;
}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(135deg);
}

.nav-dropdown-horizontal {
    width: 100%;
    left: 0;
    background-color: #fdfdfd;
    border-top: solid 1px #f0f0f0;
}

.nav-dropdown-horizontal .nav-dropdown-horizontal {
    width: 100%;
    top: 100%;
    left: 0;
}

.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
    border-top: none;
}

.nav-dropdown-horizontal>li {
    width: auto;
    clear: none;
    position: static;
}

.navigation-portrait .nav-dropdown-horizontal>li {
    width: 100%;
}

.nav-dropdown-horizontal>li>a {
    position: relative;
}

.nav-dropdown-horizontal .submenu-indicator {
    height: 18px;
    top: 11px;
    transform: rotate(90deg);
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
    height: 42px;
    top: 0;
    transform: rotate(0deg);
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg);
}

.megamenu-panel {
    width: 100%;
    padding: 15px;
    display: none;
    position: absolute;
    font-size: 14px;
    z-index: 98;
    text-align: left;
    color: inherit;
    border-top: solid 1px #f0f0f0;
    background-color: #fff;
    box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2);
}

.navigation-portrait .megamenu-panel {
    padding: 25px;
    position: static;
    display: block;
}

.megamenu-panel [class*="container"] {
    width: 100%;
}

.megamenu-panel [class*="container"] [class*="col-"] {
    padding: 0;
}

.megamenu-panel-half {
    width: 50%;
}

.megamenu-panel-quarter {
    width: 25%;
}

.navigation-portrait .megamenu-panel-half,
.navigation-portrait .megamenu-panel-quarter {
    width: 100%;
}

.megamenu-panel-row {
    width: 100%;
}

.megamenu-panel-row:before,
.megamenu-panel-row:after {
    display: table;
    content: "";
    line-height: 0;
}

.megamenu-panel-row:after {
    clear: both;
}

.megamenu-panel-row [class*="col-"] {
    display: block;
    min-height: 20px;
    float: left;
    margin-left: 3%;
}

.megamenu-panel-row [class*="col-"]:first-child {
    margin-left: 0;
}

.navigation-portrait .megamenu-panel-row [class*="col-"] {
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px;
}

.navigation-portrait .megamenu-panel-row:first-child [class*="col-"]:first-child {
    margin-top: 0;
}

.megamenu-panel-row .col-1 {
    width: 5.583333333333%;
}

.megamenu-panel-row .col-2 {
    width: 14.166666666666%;
}

.megamenu-panel-row .col-3 {
    width: 22.75%;
}

.megamenu-panel-row .col-4 {
    width: 31.333333333333%;
}

.megamenu-panel-row .col-5 {
    width: 39.916666666667%;
}

.megamenu-panel-row .col-6 {
    width: 48.5%;
}

.megamenu-panel-row .col-7 {
    width: 57.083333333333%;
}

.megamenu-panel-row .col-8 {
    width: 65.666666666667%;
}

.megamenu-panel-row .col-9 {
    width: 74.25%;
}

.megamenu-panel-row .col-10 {
    width: 82.833333333334%;
}

.megamenu-panel-row .col-11 {
    width: 91.416666666667%;
}

.megamenu-panel-row .col-12 {
    width: 100%;
}

.megamenu-tabs {
    width: 100%;
    float: left;
    display: block;
}

.megamenu-tabs-nav {
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.navigation-portrait .megamenu-tabs-nav {
    width: 100%;
}

.megamenu-tabs-nav>li>a {
    width: 100%;
    padding: 10px 16px;
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: #343a40;
    border: solid 1px #eff0f2;
    outline: 0;
    background-color: #fff;
}

.megamenu-tabs-nav>li.active a,
.megamenu-tabs-nav>li:hover a {
    background-color: #f5f5f5;
}

.megamenu-tabs-pane {
    width: 80%;
    min-height: 30px;
    padding: 20px;
    float: right;
    display: none;
    font-size: 13px;
    color: #343a40;
    border: solid 1px #eff0f2;
    background-color: #fff;
}

.megamenu-tabs-pane.active {
    display: block;
}

.navigation-portrait .megamenu-tabs-pane {
    width: 100%;
}

.megamenu-lists {
    width: 100%;
    display: table;
}

.megamenu-list {
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
    display: inline-block;
    float: left;
    list-style: none;
}

.megamenu-list:last-child {
    margin: 0;
    border: none;
}

.navigation-landscape .megamenu-list {
    margin: -15px 0;
    padding: 20px 0;
    border-right: solid 1px #f0f0f0;
}

.navigation-landscape .megamenu-list:last-child {
    border: none;
}

.megamenu-list>li>a {
    width: 100%;
    padding: 10px 15px;
    display: inline-block;
    color: #343a40;
    text-decoration: none;
    font-size: 13px;
}

.megamenu-list>li>a:hover {
    background-color: #3243db;
    color: #fff;
    width: 100%;
}

.megamenu-list>li.megamenu-list-title>a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #343a40;
}

.megamenu-list>li.megamenu-list-title>a:hover {
    background-color: transparent;
}

.navigation-landscape .list-col-2 {
    width: 50%;
}

.navigation-landscape .list-col-3 {
    width: 33%;
}

.navigation-landscape .list-col-4 {
    width: 25%;
}

.navigation-landscape .list-col-5 {
    width: 20%;
}

.nav-dropdown>li>a {
    color: #343a40;
    padding: 10px 20px;
    border-bottom: 1px solid #f6f6f6;
}

.nav-dropdown>li>a:hover,
.nav-dropdown>li>a:focus {
    color: #27ae60;
}

.main_header_area.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.transparent-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

.navigation-portrait .nav-menu>li>a {
    color: #222;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 30px;
}

@media only screen and (min-width:320px) and (max-width:1200px) {

    .nav-dropdown>li>a,
    .megamenu-list>li>a {
        width: 65%;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

/*================================ JPG TO PNG CONVERTER START   */
#section_1 {
    background: #0355c8;
}

.convertion_hint {
    width: 35px;
}

.convertion_hint_position {
    position: absolute;
    right: 0;
    top: 30px;
}

.main_title_text_wrapper {
    padding: 3% 0 3% 0;
    margin: 8% 0 0%;
    position: relative;
}

.section_1_para {
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    text-align: justify;
    width: 100%;
    line-height: 25px;
}

.jp_h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: left;
    color: #fff;
}

div.input-wraper-jpg-to-png {
    width: 100%;
    text-align: center;
    background: #47cc761a;
    margin: 4% 0% 4% 0%;
    vertical-align: middle;
    padding: 40px 2% 40px 2%;
    border-radius: 20px;
    box-shadow: 0px 5px 16px -2px rgba(42, 115, 217, 0.2);
    border: 1px solid #F2F2F2;
}

#fileInput {
    opacity: 0;
    display: none;
}

.cf-align {
    padding: 16px;
    margin-bottom: 0 !important;
}

.cf-align a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.para-dfh-align {
    font-size: 16px;
    font-weight: 600;
    color: #b5cef2;
    width: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 40px 0px;
}

.drop_area_selection {
    text-decoration: none !important;
}

.file-input-align {
    border-radius: 50px;
    width: 280px;
    background: #3243db;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px auto 10px;
}

#uploadStatus {
    display: none;
    color: green;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.butten_wraper {
    padding: 10px;
}

.button_one {
    background: #2a73d9;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    width: 160px;
    font-size: 14px;
}

.button_two {
    background: #2fa20f;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    width: 160px;
    font-size: 14px;
}

.button_three {
    background: #f70303;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    width: 160px;
    font-size: 14px;
}

.db_icon {
    width: 12%;
    position: relative;
    top: -1px;
    right: 7px;
}

.ud-icon {
    width: 15%;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:768px) {
    #uploadStatus {
        top: 42%;
    }

    .section_1_para {
        width: 100%;
    }

    .main_title_text_wrapper {
        padding: 20% 0 10% 0;
    }

    .convertion_hint {
        width: 35px;
    }

    .section_1_h6 {
        width: 100%;
        line-height: 20px;
    }
}

.loading {
    cursor: progress;
}

#dropArea {
    width: 90%;
    height: 250px;
    border: 2px dashed #ccc;
    text-align: center;
    border-radius: 20px;
    margin: 0px auto;
    position: relative;
}

#dropArea.drag-over {
    background-color: #f0f0f0;
}

#dropArea label {
    display: block;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

@media only screen and (max-width:768px) {
    .file-input-align {
        width: 230px;
        font-size: 12px;
    }

    .dfh-align {
        padding: 24.5% 0 24.5% 0;
    }

    .button_two,
    .button_one,
    .button_three {
        font-size: 12px;
        margin: 5px;
    }

    .jp_h1 {
        font-size: 35px;
        text-align: left;
    }
}

@media screen and (max-width:414px) {
    .main_title_h1 {
        margin: 17% 0 0%;
    }
}
/*================================ JPG TO PNG CONVERTER END */

/*========================================= SECTION 4 START */
.section_4_h2 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    padding-bottom: 15px;
}

span.number_left_item_1 {
    border: 2px solid #3243db;
    padding: 10px 16px 10px 16px;
    border-radius: 12px;
    margin: 0px 10px 0px 0;
    font-size: 20px;
    color: #3243db;
}

span.number_left_item_2,
.number_left_item_3 {
    border: 2px solid #3243db;
    padding: 10px 14px 10px 14px;
    border-radius: 12px;
    margin: 0px 10px 0px 0;
    font-size: 20px;
    color: #3243db;
}

.htcjp_h2 {
    text-align: center;
    padding-bottom: 65px;
    padding-top: 30px;
    font-weight: 500;
    color: #000;
    font-size: 50px;
}

.section_4_para {
    font-size: 15px;
    color: #000;
    font-weight: normal;
    text-align: justify;
}

.content_left_wrapper {
    padding-bottom: 65px;
}

@media only screen and (max-width:768px) {
    .htcjp_h1 {
        font-size: 40px;
        padding-bottom: 35px;
    }

    .content_left_wrapper {
        padding-bottom: 35px;
    }

    .htcjp_h2 {
        text-align: left;
        font-size: 35px;
    }
}
/*========================================= SECTION 4 END */

/*========================================= SECTION 5 START */
.section_5_main_h2 {
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
}

.section_5_ot_pj_h2 {
    font-size: 15px;
    color: #000;
    border: 2px solid #3243db;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
}

.section_5_ot_pj_h2 a {
    text-decoration: none;
}

.ot_tool_wrapper {
    display: flex;
    padding-bottom: 65px;
}

@media only screen and (max-width:768px) {
    .ot_tool_wrapper {
        display: block;
    }
}
/*========================================= SECTION 5 END */

/*===================================== SECTION 6 START */
#section_6 {
    background: #e0e0e0;
}

.text_one,
.text_two,
.text_three {
    text-align: justify;
    color: #000;
    font-size: 15px;
    font-weight: normal;
}

.jtpc_h2 {
    font-weight: 500;
    color: #000;
    font-size: 40px;
    text-align: left;
}

.wsycjp_h2 {
    font-weight: 500;
    color: #000;
    font-size: 40px;
    text-align: left;
}

.iscjp_h2 {
    font-weight: 500;
    color: #000;
    font-size: 40px;
    text-align: left;
}

.jtpc_h2_text_one_align {
    padding-top: 5%;
}

.iscjp_h2_text_three_align {
    padding-bottom: 0%;
}

.iscjp_h2_text_four_align {
    padding-bottom: 5%;
}

.iscjp_h3_text_four_align {
    padding-bottom: 5%;
}

a.cp_a,
a.ic_a,
a.im_a,
a.ig_a,
a.dg_a,
a.jg_a,
a .si_a,
a.wp_a,
a.jg_a,
a.wj_a,
a.pg_a,
a.cc_a {
    text-decoration: none;
}

@media only screen and (max-width:768px) {
    .jtpc_h1 {
        font-weight: 500;
        font-size: 25px;
        text-align: left;
    }

    .wsycjp_h2 {
        font-weight: 500;
        font-size: 25px;
        text-align: left;
    }

    .iscjp_h2 {
        font-weight: 500;
        font-size: 25px;
        text-align: left;
    }

    .iscjp_h3 {
        text-align: left;
        font-weight: 500;
        font-size: 25px;
    }
}
/*===================================== SECTION 6 END */

/*====================== FOOTER START */
ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #030a45;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 160px;
}

.footer-text h6 {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon h5 {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.footer-social-icon i {
    text-align: center;
    padding: 8px;
    background: #f70303;
}

.footer-social-icon {
    margin-bottom: 25px;
}

.footer-social-icon-follow h4 {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-social-icon-follow a {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.footer-social-icon-follow i {
    text-align: center;
    padding: 8px;
    background: #0355c8;
}

.footer-social-icon-follow {
    margin-bottom: 25px;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #f70303;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #f70303;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
    text-decoration: none;
}

.footer_quick_root {
    font-size: 12px;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #000;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
    text-align: left;
}

.copyright-text p a {
    color: #f70303;
    text-decoration: none;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #f70303;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
    text-decoration: none;
}

@media only screen and (max-width:900px) {
    .text-right {
        text-align: left !important;
    }

    .footer-menu li {
        margin-left: 0px;
        display: block;
    }

    .copyright-text p {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .footer-menu li a {
        font-size: 12px;
    }

    .footer-menu {
        float: left;
    }
}
/*====================== FOOTER END */

/*========================= PRIVACY & TERMS START */
.privacy_policy_content_wrapper {
    margin-top: 10%;
}

.privacy_policy_content_wrapper p {
    text-align: left;
}

@media only screen and (max-width:900px) {
    .privacy_policy_content_wrapper {
        margin-top: 18%;
    }
}
/*========================= PRIVACY & TERMS END */

/*================================== GOOGLE REVIEW START */
.gr_h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #333;
    margin-bottom: 40px;
}

#reviews {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.review {
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.review-tg-para {
    font-size: 24px !important;
    color: #333 !important;
    margin: 0;
    font-weight: 600;
}

.stars_google {
    display: inline-block;
    font-size: 20px;
    color: #f1c40f;
}

.stars_trustpilot {
    display: inline-block;
    font-size: 20px;
    color: #00b67a;
}

a.a_trustpilot {
    text-decoration: none;
    cursor: pointer;
}

a.a_google {
    text-decoration: none;
    cursor: pointer;
}

.review p {
    font-size: 16px;
    color: #555;
}
/*================================== GOOGLE REVIEW END */

/*=============== CONTACT US FORM START  */
.contact-form-container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    margin-bottom: 5%;
    position: relative;
}

.ct_mail_box {
    position: absolute;
    width: 30%;
    left: 91%;
    top: 92%;
    transform: translate(-50%, -50%);
}

#contact-form {
    width: 750px;
}

.cu_h1 {
    color: #0355c8;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
}

.wlh_para {
    text-align: left;
}

.input-wrapper {
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #0355c8;
    border-radius: 5px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #0355c8;
    border-radius: 5px;
}

input[type="file"]:hover {
    border-color: #FF5722;
}

button.btn_submit {
    background-color: #0355c8;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 707px;
    margin-top: 10px;
}

button:hover {
    background-color: #f70303;
}

#confirmation-message {
    display: none;
    font-weight: bold;
    color: #0355c8;
    margin-top: 10px;
}

@media only screen and (max-width:900px) {
    .contact-form-container {
        width: 100%;
    }

    .input-wrapper {
        width: 40%;
    }

    .ct_mail_box {
        position: absolute;
        width: 30%;
        left: 90%;
        top: 97%;
        transform: translate(-50%, -50%);
    }
}
/*====================== CONTACT US FORM END  */

/*============================== ABOUT US START */
.about_us_content_wrapper {
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 10% 0 4% 0;
    box-shadow: 0px 5px 16px -2px #3243db;
}

.au_h1 {
    font-size: 40px;
    font-weight: 600;
}

.wt_para {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
}

a.cu_a,
a.aio_a {
    color: lightseagreen;
    text-decoration: unset;
    cursor: pointer;
}

@media only screen and (max-width:900px) {
    .about_us_content_wrapper {
        margin: 20% 0 8% 0;
    }
}
/*============================== ABOUT US END */

.four_not_four_not_found_wrapper {
    padding: 20em;
}

h1.not_found {
    color: red;
    text-align: center;
    font-weight: 700;
}

p {
    color: #666;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

@media only screen and (max-width:900px) {
    .four_not_four_not_found_wrapper {
        padding: 6em;
    }
}
